body {
  background-color: rgb(16, 55, 16);
  color: rgb(201, 163, 237);
}

#info {
  padding: 10px;
  background-color: black;
  display: flex;
  gap: 10px;
}

#current-image-container {
  width: 80%;
  margin: 0 auto;
  color: skyblue;
  font-size: 1.5rem;
  margin-top: 20px;
}

#current-image-container #imag {
  width: 100%;
}

/*  */

.listItem,
a {
  list-style-type: none;
  color: yellowgreen;
}
